* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cabecalho {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    background-color: #6482AD;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.cabecalho p:hover {
    text-decoration-line: underline;
    cursor: pointer;
    transition: text-decoration 1s;
}

.boasVindas {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, yellow, red, blue);
    background-size: 200% 200%;
    animation: gradienteMovendo 10s linear infinite;
    text-align: center;
}

@keyframes gradienteMovendo {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h1, h2 {
    margin: 0;
    padding: 0;
}
