* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cabecalho {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    background-color: #6482AD;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.cabecalho p {
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.cabecalho p:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #3B5B6E
}

.boasVindas {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    background-size: 200% 200%;
    animation: gradienteMovendo 2s linear infinite;
    text-align: center;
}

@keyframes gradienteMovendo {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.sobreEmpresa {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #6482AD;
    text-align: center;
    padding: 20px;
}

#about {
    font-size: 2em;
    margin-bottom: 20px;
}

.infoSections {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

.objetivoSection, .missaoSection, .visaoSection {
    max-width: 250px;
    text-align: left;
}

.infoSections h2, .infoSections p, .visaoSection h2, .visaoSection p {
    margin: 0;
    padding: 5px 0;
}

.visaoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
}

.visaoSection h2, .visaoSection p {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.produtos {
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    background-size: 200% 200%;
    padding: 20px;
}

.products {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.product-item {
    max-width: 400px;
}

h1, h2, p, small {
    margin: 0;
    padding: 5px 0;
}

.containerAssessoria {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #6482AD;
    padding: 20px;
    text-align: center;
}

.titleAssesoria {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}


.gestaoEstrategiaContainer {
    display: flex;
    gap: 20px; /* Espaço entre os blocos */
    justify-content: center; /* Alinha os blocos ao centro */
    flex-wrap: wrap; /* Permite que os itens se movam para baixo em telas menores */
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
}

.gestaoEstratategia, .tecnologiaSiderurgica {
    box-sizing: border-box;
    padding: 20px;
}

.gestaoEstratategia {
    flex: 2; /* Maior proporção em relação ao bloco ao lado */
}

.tecnologiaSiderurgica {
    flex: 1; /* Menor proporção em relação ao bloco ao lado */
}

.gestaoEstratategia h1,
.gestaoEstratategia h2,
.gestaoEstratategia h3,
.tecnologiaSiderurgica h2,
.tecnologiaSiderurgica h3 {
    margin: 0 0 10px 0;
}

.gestaoEstratategia p,
.tecnologiaSiderurgica p {
    margin: 0;
}