@font-face {
    font-family: 'Minha Fonte';
    src: url('Bauhaus\ 93\ Regular.ttf'),
         url('BAUHS93.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    display: flex;
    background-color: #6482AD;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border: 1px solid black;
}

.cabecalho a {
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    color: black;
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #3B5B6E
}

.cabecalho a.active {
    text-decoration: underline;
    color: black;
}

.boasVindas {
    font-family: "Bauhaus 93 Regular", Minha Fonte;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    background-size: 200% 200%;
    text-align: center;
    font-size: 26px;
}

#titleInicio {
    color: #1679AB;
}

.textoBoasVindas {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0;
}

.sobreEmpresa {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    font-style: normal;
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    text-align: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

#about {
    font-size: 2em;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 1rem;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.infoSections {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

.objetivoSection, .missaoSection, .visaoSection {
    max-width: 250px;
    text-align: center;
}

.infoSections h2, .infoSections p, .visaoSection h2, .visaoSection p {
    margin: 0;
    padding: 5px 0;
}

.visaoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
}

.visaoSection h2, .visaoSection p {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.infoSections p, .visaoSection p, .missaoSection p {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    padding: 1rem 10px;
    border-radius: 20px;
}

.imagemContainer {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
}

.produtos {
    text-align: center;
    padding: 20px;
    height: 100vh;
    min-height: 100vh;
}

.titleProdutos {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.fluidexA, .fluidexAV3, .fluidexS2 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    flex: 1 1 45%;
    max-width: 45%;
    padding: 20px;
    margin: 0;
}

.text-content {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.OBS {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    font-style: normal;
    padding: 2rem;
}

.Fabricacao {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.briquetagem {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.briquetagemText {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    max-width: 500px;
    padding: 22px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.briquetagemText h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.briquetagemText p {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.containerAssessoria {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 450;
    font-style: normal;
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}

.titleAssesoria {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.gestaoEstrategiaContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gestaoEstratategia, .tecnologiaSiderurgica {
    box-sizing: border-box;
    padding: 20px;
}

.gestaoEstratategia {
    flex: 2;
}

.tecnologiaSiderurgica {
    flex: 1;
}

.gestaoEstratategia h1,
.gestaoEstratategia h2,
.gestaoEstratategia h3,
.tecnologiaSiderurgica h2,
.tecnologiaSiderurgica h3 {
    margin: 0 0 10px 0;
}

.gestaoEstratategia p,
.tecnologiaSiderurgica p {
    margin: 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.containerMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
}

.titleContato {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.titleContato p {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0;
}

#adress {
    font-size: 16px;
    margin-top: 10px;
}

.containerMap iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 20px;
    outline: none;
    padding: 40px;
}

.contato {
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    gap: 2rem;
    margin-bottom: 40px;
}

.contato .email-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato ion-icon {
    font-size: 28px;
    color: black;
    margin-right: 5px;
    vertical-align: middle;
}

.contato a {
    text-decoration: none;
    color: inherit;
}

.contato .email-container a {
    line-height: 32px;
    font-size: 16px;
}

footer {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    gap: 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #B9D8C2 0%, #B0BEC5 50%, #A9C4D6 100%);
}

.fade-in {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.fade-in-container {
    position: relative;
    overflow: hidden;
}

.fade-in-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Altere a cor conforme necessário */
    filter: blur(5px);
    z-index: -1;
    transition: opacity 0.8s ease-in-out;
}

.fade-in-container.visible::before {
    opacity: 0;
    filter: blur(0);
}

ion-icon:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #3B5B6E;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/*Ajuste layout para todos os tipos de tela*/
@media (max-width: 768px) {
    .cabecalho {
        align-items: flex-start;
        padding: 10px;
    }

    .boasVindas {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        align-items: flex-start;
        padding: 10px;
    }

    .sobreEmpresa {
        padding: 10px;
        height: auto; /* Ajuste a altura para caber o conteúdo */
    }

    .infoSections {
        flex-direction: column;
        gap: 20px;
    }

    .infoSections div {
        max-width: 100%;
    }

    .imagemContainer {
        justify-content: center;
        margin: 20px 0;
    }

    img {
        padding: 2rem;
        max-width: 100%;
        margin: 0;
        top: 0;
    }
}

@media (max-width: 768px) {
    .titleProdutos {
        font-size: 2rem;
    }

    .OBS {
        padding: 1rem;
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    .products {
        gap: 20px;
    }

    .fluidexA, .fluidexAV3, .fluidexS2 {
        max-width: 90%;
    }
}

/* Consulta de mídia existente para telas pequenas */
@media only screen and (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
    }
    
    .infoSections {
        flex-direction: column;
        align-items: center;
    }
    
    .infoSections .objetivoSection,
    .infoSections .missaoSection,
    .infoSections .visaoSection {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .imagemContainer {
        justify-content: center;
    }
}

/* Telas 16:9 */
@media only screen and (aspect-ratio: 16/9) {
    .contentContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    
    .infoSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }
    
    .infoSections .objetivoSection,
    .infoSections .missaoSection,
    .infoSections .visaoSection {
        width: 30%;
        margin: 0 10px;
        box-sizing: border-box;
    }
    
    .imagemContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
    }
    
    .contentContainer p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}
